*{
  margin: 0;
 }
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.header {
  background-image: url(Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo-text{
    color: #4E47FF;
    font-size: 34px;
    margin: 50px 150px 50px 150px;

}
nav a{
  margin: 50px 150px 50px 150px;
}
.btn { 

  background-color: #4e4bff;
  color: white;
  padding: 12px 36px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  border: none;
}
.header-text{
    color: #252432;
    text-align: center;
    font-size: 65px;
    margin-top: 150px;
}
.stay-focused {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Stay-button{
  margin: 37px 633px 158px 633px;
}
.section-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 116px 165px 116px 155px;
}
.section-1-title{
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 23px;
}
.section-1-text{
  font-weight: 400;
  font-size: 24px;
  color: #252432;
  margin-bottom: 23px;
}
.section-1-img{
  border-radius: 48px;
}
.sec-2{
  height: 306px;
  background-color: #E6E8FF;
  margin: 116px 165px 116px 155px;
  border-radius: 24px;
  padding: 50px 142px 0px 142px;
}
.sec-2-main-div{
  display: flex;
  gap: 158px;
  justify-content: center;
  text-align: center;
}
.sec-2-heading{
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  color: #252432;
}
.sec-2-main-div h1{
  font-size: 80px;
  color: #4E47FF;
}
.sec-2-main-div p{
  font-weight: 600;
}